footer {
  background: #1E2A37;
  color: #fff;

  a {
    font-family: 'Conv_Cera Pro Regular', sans-serif;
  }

  ul {
    img {
      max-width: 22px !important;
    }
  }

  .UpButton {
    img {
      max-width: 22px !important;
    }
  }
}
