.Pinatedo-menu {
  margin-left: 16.66667%;
  margin-right: 8.33333%;
  padding: 0
}

.navbar {
  .nav-item {
    &:last-child {
      margin: 0;
    }

    margin: 0 20px;
  }

  a {
    color: #fff;
    cursor: pointer;

    .header-icon {
      width: 37px;
      height: auto;
    }

    &:hover {
      color: #FFBB4D !important;
    }

    &.active {
      color: #FFBB4D;
    }
  }
}
