.navbar {
  .nav-item {
    &:last-child {
      margin-right: 0;
    }
    margin: 0 20px;
  }
  &.navbar-ligth {
    background: #fff;
  }
  a {
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      color: #1b9df8 !important;
    }

    &.active {
      color: #1b9df8;
      font-weight: 600;
    }
  }
}
