<footer>
  <div class="container">
    <div class="row align-items-center">
      <div class="">
        <a href=""><img src="/assets/img/logo-white.png" class="img-fluid"></a>
      </div>
      <div class="">
        <ul>
          <li><img src="/assets/img/icn-telphone.svg" alt="" class="img-fluid"><a>(+54) 11 4545 5543</a></li>
          <li><img src="/assets/img/icn-mail.svg" alt="" class="img-fluid">
            <a>oficina@pinatedo.com.ar</a>
          </li>
        </ul>
      </div>
      <div class="">
        <ul>
          <li class="city-margin"><img src="/assets/img/icn-geo.svg" alt="" class="img-fluid"><a>Av. Congreso 3896
              12º “B”<br>
              <span>C.A.B.A. Argentina</span></a></li>
        </ul>
      </div>
      <div class=""><a class="UpButton"><img src="/assets/img/icn-arrow-up.svg" alt="" /><span>Volver<br>
            Arriba</span></a>
      </div>
    </div>
  </div>
</footer>
