<header>
  <nav class="navbar navbar-expand-lg fixed-top Pinatedo-menu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler01"
      aria-controls="navbarToggler01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/index.html">
      <img src="assets/img/logo.png" alt="Pinatedo" class="logo">
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarToggler01">
      <ul class="navbar-nav  mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link effect" href="/nosotros.html">Nosotros <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link effect" href="/servicios.html">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link effect" href="/contacto.html">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="/assets/img/icn-phone.svg" class="header-icon" alt=""></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="/assets/img/icn-header-mail.svg" class="header-icon" alt=""></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
